*{
    padding: 0;
    margin: 0;
}
.navbar{
    height: 60px;

    background-color: #0f1111;
    display: flex;
    align-items: center;
}
.navleft{
    display: flex;
}
.logo{
    padding: 1px 8px 0 6px;
    margin: 1px;    
    background-color: transparent;
    height: 50px;
    width: 113px;
    background-image: url("https://static.vecteezy.com/system/resources/previews/019/040/342/original/amazon-logo-editorial-free-vector.jpg");
    background-size: contain;
}
.address{
    margin: 5px 2px 5px 0 ;
    padding: 0 9px;
    height: 51px;
    color: white;
    display: flex;
    justify-content: space-around;
    
}
.addsym{
    color: white;
    margin: 15px 5px 0 0;
     
}
#add-cont{
    position: relative;
    top: 10px;
}
#add-cont-first{
    font-size: 12px;
    color: #cccccc;
}
.searchbar{
    margin: 0 6px;
    padding: 10px 4px 10px 3px;
    width: 644px;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    #search-select{
        width: 51px;
        height: 38.4px;
        padding: 0 0 0 5px;
        background-color: #e6e6e6;
        border: none;
        border-radius: 10% 0 0 10%;
        color: #0f1111;
    }
    #search-input{
        width: 540px;
        height: 19.8px;
        padding: 7px 10px 10px 0;
        color: #0f1111;
    } 
}
.searchicon{
    background-color: rgb(223, 168, 14);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    #icon{
        width: 20px;
        height: 14px;
        padding: 13px;
    }
    border-radius: 0 10% 10% 0;
}
.navright{
    padding: 3px 0 0;
    margin: 2px 0 0;
    height: 58px;
    width: 383px;
    display: flex;
    align-items: center;
    .language{
    
        margin: 0 0 0 1px;
        padding: 0 9px 5px;
        height: 50px;
        width: 75.38px;
        display: flex;
        justify-content: center;
        .lang-cont{
            display: flex;
            align-items: center;    
            
        }
        
        #flag{
            width: 21.6px;
            height: 16.2px;
            color: white;
        }
        #lang-select{
            background-color: transparent;
            color: white;
            border: none;
        }
        
    }
    .account{
        margin: 0 0 0 2px;
        padding: 0 9px 10px;
        height: 50px;
        width: 131px;
        #content{
            position: relative;
            top: 10px;
            color: white;
        }
        #acc-select{
            background-color: transparent;
            color: white;
            border: none;
            position: relative;
            top: 10px;
        }
    }
    .order{
        margin: 0 0 0 2px;
        padding: 0 9px 10px;
        color: white;
        #first{
            margin: 9px 0 0 0;
        }
    }
    .cart{
        margin: 0 11px 0 2px;
        padding: 0 9px 11px ;
        width: 84px;
        height: 50px;
        color: #d6d6d6;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        .cart-logo{
            height: 26px;
            width: 38px;
            position: relative;
            top: 10px;
            left: 10px;
            color: white;
            
        }
        #cart-p{
            color: white;
            position: relative;
            top: 8px;
        }
    }

}
.border:hover{
    border: 1px solid white;
}
.dark{
    background-color: black;
    color: white;
}
.light{
    background-color: white;
    color: black;
}