body{
    display: flex;
    justify-content: center;
    align-items: start;
}
.container{
    height: fit-content;
    width:fit-content;

    border: 5px solid black;

    background-size:cover ;
    
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;

}
